{% extends "layout.html" %}

{% block content %}
  <div class="container mt-4" id="welcome">
    <div class="row">
      <div class="col-md-9">
        <h1>Learn Video Game Creation!</h1> <br>
        <h3>A Beginner's Guide to Video Game Creation</h3>
      </div>
      <div class="col-md-3">
        <img src= "https://www.esquire.com/lifestyle/g26572573/best-video-games-ranked/" width="60%" height="auto" 
        alt="A large collage consisting of many iconic video games like Minecraft, The Legend of Zelda, Tetris, Pokemon, and more!">
      </div>
    </div>
  </div>
  <div id="intro">
    <h3>Introduction Paragraph</h3>
    <h5>Smaller introduction info!</h5>
  </div>
{% endblock %}