{% extends "layout.html" %}

{% block content %}
  <div class="container mt-4" id="welcome">
    <div class="row">
      <div class="col-md-9">
        <h1>Learn Video Game Creation!</h1> <br>
        <h3>A Beginner's Guide to Video Game Creation</h3>
      </div>
      <div class="col-md-3">
        <img src= "https://hips.hearstapps.com/hmg-prod/images/gridoffset-videogames-1-1585583517.jpg" width="60%" height="auto" 
        alt="A large collage consisting of many iconic video games like Minecraft, The Legend of Zelda, Tetris, Pokemon, and more!">
      </div>
    </div>
  </div>
  <div id="intro">
    <h5>Introduction Paragraph!</h5>
  </div>
{% endblock %}