{% extends "layout.html" %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">

  <div class="card p-5 shadow-lg" style="max-width:650px; width:100%; border-radius:15px;">
    <h1 class="fw-bold">QUIZ TIME!</h1>
    <img src="{{q.img}}">
    <small class="text-muted">Question {{ num }} of {{ total }}</small>

    <div class="progress mt-2 mb-4">
      <div class="progress-bar" style="width: {{ (num / total * 100)|int }}%"></div>
    </div>

    <h4 class="fw-bold">{{ q.question }}</h4>

    <form method="POST" class="mt-4">

      {% for choice in q.choices %}
      <div class="choice-box p-3 border rounded mb-3" style="cursor:pointer;">
        <input type="radio" name="answer" value="{{ choice }}" required>
        {{ choice }}
      </div>
      {% endfor %}

      <div class="text-end">
        <button type="submit" class="btn btn-primary">Next →</button>
      </div>

    </form>

  </div>

</div>

<script>
$(document).ready(function(){
  $(".choice-box").click(function(){
    $(".choice-box").removeClass("bg-light border-primary");
    $(this).addClass("bg-light border-primary");
    $(this).find("input").prop("checked", true);
  });
});
</script>

{% endblock %}